main {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr 16px;
  grid-gap: 1.5rem;
  align-items: start;
  justify-items: center;
  width: 343px;
  min-height: 315px;
  border-radius: 10px;
  background-color: hsl(217, 19%, 24%);
  text-align: center;
  padding: 2.5rem 1.5rem 4rem 1.5rem;
  font-weight: 800;
  box-shadow:  2rem 2rem 2rem hsl(218, 23%, 15%);
}

h1 {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: .666rem;
  letter-spacing: .25rem;
}

p {
  color: hsl(193, 38%, 86%);
  font-size: 1.5rem;
}

.divider > g > g { transform: translate(138px); }

button {
  height: 4rem;
  width: 4rem;
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -2rem;
  transition: box-shadow .2s;
}

button:enabled:hover { box-shadow: 0 0 1rem hsl(150, 100%, 66%); }
button:enabled:active { box-shadow: 0 0 2.5rem hsl(150, 100%, 66%); }
button:disabled { 
  cursor: default;
  box-shadow: none;
}

@media (min-width: 576px) {
  main {
    grid-template-rows: auto 1fr 1.5rem;
    grid-gap: 1.75rem;
    width: 540px;
    min-height: 332px;
    border-radius: 15px;
    padding: 3rem 3rem 4rem 3rem;
  }

  h1 {
    font-size: .8rem;
    line-height: 1rem;
  }

  p {
    font-size: 1.7rem;
    line-height: 2.35rem;
  }

  .divider {  width: 444px; }
  .divider > g > g { transform: translate(212px); }
  .divider > g > path { d: path("M0 8h196v1H0zM248 8h196v1h148z"); }
}