main {
  display: grid;
  grid-template-rows: 14px minmax(135px, auto) 24px 32px;
  gap: 24px;
  align-items: start;
  justify-items: center;
  min-height: 314px;
  width: 343px;
  padding: 40px 24px 0 24px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  box-shadow:  2rem 2rem 2rem hsl(218, 23%, 15%);
  font-weight: 800;
}

h1 {
  color: hsl(150, 100%, 66%);
  font-size: .666rem;
  line-height: 1.5;
  letter-spacing: .25rem;
  text-transform: uppercase;
}

p {
  color: hsl(193, 38%, 86%);
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: center;
}

.divider > g > g { transform: translate(138px); }

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  margin-bottom: -32px;
  transition: box-shadow .2s, background-color .3s;
}

button:enabled:hover, button:enabled:focus {
  outline: none;
  box-shadow: 0 0 1rem hsl(150, 100%, 66%);
}

button:enabled:active { box-shadow: 0 0 40px hsl(150, 100%, 66%); }

button:disabled { 
  background-color: hsl(217, 19%, 38%);
  cursor: default;
  box-shadow: none;
}

@media (min-width: 576px) {
  main {
    grid-template-rows: 16px minmax(124px, auto) 32px 28px;
    gap: 28px;
    width: 540px;
    min-height: 332px;
    border-radius: 15px;
    padding: 48px;
    padding-bottom: 0;
  }

  h1 {
    font-size: .8rem;
  }

  p {
    font-size: 1.7rem;
  }

  .divider {  width: 444px; }
  .divider > g > g { transform: translate(212px); }
  .divider > g > path { d: path("M0 8h196v1H0zM248 8h196v1H248z"); }
}